os: Visual Studio 2022

init:
  - set QTDIR=C:\Qt\6.9.3\msvc2022_64
  - set PATH=%PATH%;%QTDIR%\bin;C:\Program Files (x86)\NSIS\bin
  - call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
install:
  - git submodule update --init --recursive
build_script:
  - echo namespace { const char* version = "%APPVEYOR_BUILD_VERSION%"; } > version.h
  - qmake anno.pro
  - nmake
  - makensis anno-installer.nsi
artifacts:
  - path: anno-installer-v*.exe
    name: anno-installer
